<div class="container">

  <h1> Welcome to Ultimate TicTacToe! </h1>
  <h3> Please login or signup to continue </h3>

      <h2>Sign up:</h2>
      <form method="post" action="/signup">
        <input type=text placeholder="Email" name="user[email]"></br>
        <input type=password placeholder="Password" name="user[password]"></br></br>
        <input type=submit value="Sign up">
      </form></br></br>
      </br>


      <h2>Log in:</h2>
      <form method="post" action="/login">
        <input type=text placeholder="Email" name="login[email]"></br>
        <input type=password placeholder="Password" name="login[password]"></br></br>
        <input type=submit value="Log in">
      </form></br>
      </br>


</div>



<div class="container">
  <h1>Testing ground for board drawing</h1>
  <p>This is the game board:<p>
    <canvas id = "canvas1"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(1)"></canvas>
    <canvas id = "canvas2"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(2)"></canvas>
    <canvas id = "canvas3"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(3)"></canvas></br>

    <canvas id = "canvas4"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(4)"></canvas>
    <canvas id = "canvas5"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(5)"></canvas>
    <canvas id = "canvas6"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(6)"></canvas></br>

    <canvas id = "canvas7"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(7)"></canvas>
    <canvas id = "canvas8"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(8)"></canvas>
    <canvas id = "canvas9"  width="50" height="50" style="border:1px solid black" onclick="canvasClicked(9)"></canvas></br>
</div>


