<div class="container">

  <h1> Game Lobby </h1>
  <h3> Logged in as: <%= @user.email %></h3></br>
  <h4> Players currently waiting for challengers: </h4>

<!-- insert code calling Users where waiting == true ************************************************ -->

    <p><a href="/new_game">Create new game</a></p>
</div>

  <div class="container">
    <p><a href="/logout"> Log Out</a></p>

  </div>


